body{
    background-color: gray;
}
h1{
    font-size: 70px;
    color: black;
    text-align: center;
}   
p{
    font-size: 20px;
    color: whitesmoke;
    text-align: justify;
}
img{
    width: 450px;
    height: 350px;
    margin: 30px;
    margin-left: 130px;
}

